/* Navbar Section */
#header {
    font-size: 20px;
    color: white;
    background-color: #F5302A;
    
  }
  
  #header h1 {
    font-size: 64px;
    font-weight: 900;
  }
  
  #header p {
    margin-top: 48px;
    font-weight: 600;
  }

  #header p a{
      text-decoration: none;
      color: white;
      font-weight: 400;
      font-size: 18px;
  }
  
  #header .date {
    font-weight: 400;
    font-size: 14px;
    color: white;
  }
  
  
  span.button {
    padding: 8px;
    margin-left: 6px;
    background-color: white;
    color: #F5302A;
  }

#navbar-2{
    border-bottom: solid 2px rgb(245, 245, 245);
    padding-bottom: 5px;

}

#navbar-2 a{
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-right: solid 1px lightgray;
    padding-right: 20px;
}

#navbar-2 a:hover{
    color: red;
}

#navbar-2 #search{
    color: rgb(102, 102, 102);
    font-weight: normal;
    font-size: 18px;
    border: none;
}

/* Main Section */
.resize-1{
    width: 100%;
}

.resize-2{
    width: 100%;
}

.resize-3{
    width: 100%;
}


a{
    text-decoration: none;
}

.remove{
    padding: 0;
}

.resize-image{
    width: 100%;
}
.resize-image-3{
    width: 100%;
    height: 200px;
}
.resize-slideshow{
    width: 100%;
    height: 250px;
}
.us-section-divide{
    padding-bottom: 5px;
    border-bottom: solid 1px lightgray;
}
.us-section-divide-1{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid 1px lightgray;
}